{% extends 'main/base.html '%}

{% block title %}
{{ title }}
{% endblock %}

{% block content %}
{% if user.is_authenticated %}
<div class="container mt-5">
    <h3>User:{{ user.username }}</h3> <br> <h1>Tasks:</h1><br>

    {% if tasks %}
    {% for element in tasks %}
    <div class="alert alert-warning mt-2">
        <div class="row">
            <div class="col-7 offset-1">
                {% if element.done == True %}
                <strike>
                    <h3>{{ element.title }}</h3><br>
                </strike>
                <strike>
                    <h6>{{ element.task }}</h6>
                </strike>
                {% else %}
                <h3>{{ element.title }}</h3><br>
                <h6>{{ element.task }}</h6>
                {% endif %}
            </div>
            <div class="col-3 offset-1">
                <a class="btn btn-success me-md-2" href="{% url "update_task" element.id %}">Update</a>
                <a class="btn btn-danger" href="{% url "delete_task" element.id %}">Delete</a>
            </div>

        </div>
    </div>
    {% endfor %}
    {% else %}
    <p>Task not found</p>
    {% endif %}
</div>
{% else %}
<div class="container mt-5" align="center">
    <div class="card" style="max-width: 25rem;" align="center">
        <div class="card-header">
            Not logged user
        </div>
        <div class="card-body">
            <h5 class="card-title">You are not logged user</h5>
            <p class="card-text">Please login or sign up.</p>
            <a href="/login" class="btn btn-outline-dark me-2">Login</a>
            <a href="/register" class="btn btn-warning">Sign-up</a>
        </div>
    </div>
</div>
{% endif %}
{% endblock %}